<div id="content" class="content" ng-controller="SimulatorCtrl">
	<h1>GeoSparql SIMULATOR</h1>
	<div class=" form-inline">
		<select class="form-control" ng-disabled="waiting" ng-model="interval" ng-options="item for item in intervals"></select>
		<button type="button" class="btn btn-default" ng-disabled="waiting || isStartDisabled" ng-click="start()">Start</button>
		<button type="button" class="btn btn-primary" ng-disabled="waiting || isPauseDisabled" ng-click="pause()">Pause</button>
		<button type="button" class="btn btn-primary" ng-disabled="waiting || isResetDisabled" ng-click="reset()">Reset</button>
		<button type="button" class="btn btn-primary" ng-disabled="waiting || isStopDisabled" ng-click="stop()">Stop</button>
	</div>
	<div id="geomapDiv" style="height: 50%; width: 100%"></div>
</div>
